* {
    text-align: center;
}

:host {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 90vw;
}

header {
    margin: 6vh;
}

.file-upload-wrapper {
    max-width: 90%;
    margin: 5vh auto 10vh auto;
}

.copy {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}