* {
    background-color: inherit;
}

.side-menu {
    height: 100%;
    background-color: rgb(179, 220, 255);
    padding:0.5rem;
}

.header-wrapper {
    text-align: center;
}

.file-upload-wrapper {
    width: 100%;
    text-align: center;
}

.metadata-wrapper {
    /* font-size: small; */
    margin-top: 10%;
}